<div class='nivel1'>
	<div>logo</div>
	<div>Moni_Gifts</div>
	<div class='nivel3'>
		<button> Crea tu cuenta </button>
		<img
			src='/carro.svg'
			alt='carrito de la compra'
		/>
	</div>
</div>

<style>
	.nivel1 {
		border: 1px solid green;
		box-sizing: border-box;
		padding: 0;
		margin: 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-direction: row;
		max-width: 1200px;
		margin: auto;
		width: 100%;
		padding: 1rem;
	}
	.nivel3 {
		display: flex;
		justify-content: center;
	}
	img {
		height: 33px;
		width: auto;
	}
	button {
		background-color: rgb(0, 195, 255);
		color: black;
		border-radius: 0.8rem;
		padding: 5px 10px;
		margin-right: 1rem;
		font-size: 0.9rem;
		font-weight: bold;
	}
</style>
