---
import Header from '@/components/Header.astro'
import Footer from '@/components/Footer.astro'
interface Props {
	title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang='es'>
	<head>
		<meta charset='UTF-8' />
		<meta
			name='description'
			content='Astro description'
		/>
		<meta
			name='viewport'
			content='width=device-width'
		/>
		<link
			rel='icon'
			type='image/svg+xml'
			href='/favicon.svg'
		/>
		<title>{title}</title>
	</head>
	<body>
		<Header />
		<main>
			<slot />
		</main>
		<Footer />
	</body>
</html>

<style>
	html {
		background-color: #222;
		color: #999;
		font-family: 'Arial', sans-serif;
		font-size: 1.2rem;
	}
	body {
		border: solid 4px red;
		box-sizing: border-box;
		padding: 0;
		margin: 0;
		display: grid;
		grid-template-rows: auto 1fr auto;
		min-height: 100dvh;
	}
	main {
		border: solid 1px yellow;
		box-sizing: border-box;
		display: flex;
		justify-content: center;
	}
</style>
